body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  h1 {
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }
  
  p {
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  
  figure {
    margin: 0;
    border: 1px solid black;
    padding: 12px;
    padding-bottom: 24px;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  
  p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
  }

a {
  font-weight: bold;
  color: green;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

body.dark-mode {
  background: #010101;
  color: #ffffff;
}

body.dark-mode button {
  background-color: #ffffff;
}

#message {
  background: #E9FFE4;
  border: 1px solid #178201;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}

#message.dismissed {
  opacity: 0;
  height: 0;
}

#message button {
  float: right;
}